header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 10px;
   background: #e6e6e6;
	&.only-logo {
		justify-content: center;
	}
 }
 
 .logo img {
	height: 50px;
	cursor: pointer;
 }
 
 .nav-links a {
	margin: 0 10px;
	text-decoration: none;
 }